# for copyright
*/refs/*
data/burger/*
data/kostat
data/map/*
data/pop/*

# fonts/

# aux files
*.code-workspace
.Rproj.user
.Rhistory
.idea
.ipynb_checkpoints
.Rapp.history
.vscode

# latex 
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
*.synctex.gz
*.xdv
